<article class="card-select card m-2">
  <header class="card-header">
    <h2 class="card-quiz__title card-title">Les bases de JS</h2>
    <div class="card-quiz__infos">
      <strong
        class="card-quiz__level badge bg-primary font-weight-normal"
        aria-label="Niveau débutant"
        >Débutant</strong
      >
      <strong
        class="card-quiz__questions badge bg-secondary"
        aria-label="5 questions au total"
        >5 questions</strong
      >
    </div>
  </header>
  <div class="card-quiz card-body m-2 p-2">
    <p class="card-quiz__description card-text">
      Ce quiz vous permettra de tester vos connaissances sur les bases de
      CommonJS et ES2022.
    </p>
    <div class="d-flex justify-content-center">
      <a href="/quiz/1" class="btn btn-primary pe-auto">Commencer</a>
    </div>
  </div>
</article>
