<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Apprentissage Nest</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="body">
    <h1 class="title">Apprentissage Nest</h1>
    <p class="p">Apprentissage Nest</p>
  </body>
</html>
